*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

#map{
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 16/9;
    margin-top: 20px;
}

